<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyee.restfuldemo.Dao.db2.AccountDao" >
    <resultMap id="UserDemoMap" type="com.kyee.restfuldemo.Entity.Account" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="money" property="money" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, userName, money
    </sql>

    <select id="getAllAccount" resultMap="UserDemoMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM account
    </select>


</mapper>